<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :client_organization_name %>
    <%= f.input :client_email %>
    <%= f.input :client_organization_person_name %>
    <%= f.input :client_organization_phone %>
    <%= f.input :client_personal_mobile %>
    <%= f.input :client_organization_street_address1 %>
    <%= f.input :client_organization_street_address2 %>
    <%= f.input :client_organization_city %>
    <%= f.input :internal_notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
