<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Client organization name</th>
      <th>Client email</th>
      <th>Client organization person name</th>
      <th>Client organization phone</th>
      <th>Client personal mobile</th>
      <th>Client organization street address1</th>
      <th>Client organization street address2</th>
      <th>Client organization city</th>
      <th>Internal notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_organization_name %></td>
        <td><%= client.client_email %></td>
        <td><%= client.client_organization_person_name %></td>
        <td><%= client.client_organization_phone %></td>
        <td><%= client.client_personal_mobile %></td>
        <td><%= client.client_organization_street_address1 %></td>
        <td><%= client.client_organization_street_address2 %></td>
        <td><%= client.client_organization_city %></td>
        <td><%= client.internal_notes %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
