<p id="notice"><%= notice %></p>

<p>
  <strong>Client organization name:</strong>
  <%= @client.client_organization_name %>
</p>

<p>
  <strong>Client email:</strong>
  <%= @client.client_email %>
</p>

<p>
  <strong>Client organization person name:</strong>
  <%= @client.client_organization_person_name %>
</p>

<p>
  <strong>Client organization phone:</strong>
  <%= @client.client_organization_phone %>
</p>

<p>
  <strong>Client personal mobile:</strong>
  <%= @client.client_personal_mobile %>
</p>

<p>
  <strong>Client organization street address1:</strong>
  <%= @client.client_organization_street_address1 %>
</p>

<p>
  <strong>Client organization street address2:</strong>
  <%= @client.client_organization_street_address2 %>
</p>

<p>
  <strong>Client organization city:</strong>
  <%= @client.client_organization_city %>
</p>

<p>
  <strong>Internal notes:</strong>
  <%= @client.internal_notes %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
