<%= form_for @company, :html => {:novalidate => "", :multipart => true} do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company_name, 'Company Name' %>
    <%= f.text_field :company_name, :placeholder => "Company Name", :class => "form-control focus" %>
  </div>

  <div class="form-group">
    <%= f.label :company_contact_person, 'Owner Name' %>
    <%= f.text_field :company_contact_person, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_person_title %>
    <%= f.text_field :contact_person_title %>
  </div>

  <div class="form-group">
    <%= f.label :company_city, 'City' %>
    <%= f.text_field :company_city, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_street_address1, 'Street Address 1' %>
    <%= f.text_field :company_street_address1, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_street_address2, 'Street Address 2' %>
    <%= f.text_field :company_street_address2, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_state, 'State' %>
    <%= f.text_field :company_state, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_city_zipcode, 'Pin Code' %>
    <%= f.text_field :company_city_zipcode, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_phone_number, 'Phone Number' %>
    <%= f.text_field :company_phone_number, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_email, 'Company Email ID' %>
    <%= f.text_field :company_email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_cin, 'Company CIN' %>
    <%= f.text_field :company_cin, :placeholder => "Company Registration Number", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_vat, 'VAT Registration Number' %>
    <%= f.text_field :company_vat, :placeholder => "VAT Registration Number", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_bank_info, 'Company Bank A/c Detail' %>
    <%= f.text_area :company_bank_info, :placeholder => "Bank Info for your customer to enable him to Bank transfer Payment. Will be printed in Invoice", :class => 'col-md-6 form-control', :rows => '3' %>
  </div>
<br>
<br>  
  <div class="form-group actions">
    <%= f.submit 'Save', :class => "btn btn-primary" %>
  </div>
<% end %>