

<h1>Companies</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Company name</th>
        <th>Company City</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.company_name %></td>
          <td><%= company.company_city %></td>
          <td><%= link_to 'See Details', company %></td>
          <td><%= link_to 'Edit Company Details', edit_company_path(company) %></td>
          <td><%= button_to 'Delete Company', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= link_to 'New Company', new_company_path %>
