<div class="container-fluid">
<p id="notice", class ="bg-success"> <%= notice %></p>
<div class="well company-show-page">
<p>
  <strong>Company name:</strong>
  <%= @company.company_name.titleize %>
</p>

<p>
  <strong>Company Contact Name:</strong>
  <%= @company.company_contact_person.capitalize %>
</p>

<p>
  <strong>Company Address:</strong>
  <%= @company.company_street_address1 %>, <%= @company.company_street_address2 %>,
  <%= @company.company_city %>
</p>

<p> <strong>Company Contact Number:</strong>
  <%= @company.company_phone_number %>
</p>

<p>
	<strong>
		Company Email ID:
	</strong>
	<%= @company.company_email %>
</p>

<p>
	<strong>
		Company CIN Regsitration Number:
	</strong>
	<%= @company.company_cin %>
</p>

<p>
	<strong>
		Company VAT Registration Number:
	</strong>
	<%= @company.company_vat %>
</p>

<p>
	<strong>
		Company A/c Bank Info: 
	</strong>
	<%= @company.company_bank_info %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
</div>
</div>
