<!DOCTYPE html>
<html>
<head>
  <title>Timetracker</title>
  <%= render 'layouts/bootstrap' %>

   <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <%= link_to 'Time Tracker', root_path, class: 'navbar-brand' %>
    </div>
    <% if user_signed_in? %>
      <div class="pull-right right-buttons">
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'btn btn-default navbar-btn' %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'New Project', new_project_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    <% end %>
  </nav>
</header>

<div class="container">
			<% flash.each do |name, msg| %>
				<% if msg.is_a?(String) %>
					<div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable fade in">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
					</div>
				<% end %>
			<% end %>

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
